*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    font-family: sans-serif; 
    margin: 0;    
}
.header-container {
    width: 1280px;
    height: 189px;
    display: flex;
    flex-direction: column;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;    
}
.header-logo {
    height: 79px;
    align-items: flex-start;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: black;    
    text-decoration: none;    
}
.accent-color {
    color: deepskyblue;
}
.header-menu {
    width: 1280px;
    height: 72px;
    display: flex;
    justify-content: center;
    background: #35444F;
    margin-top: 38px;
    margin-bottom: 0px;
    list-style: none;
    padding: 0;
}

.header-menu-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;    
    list-style: none;
    padding: 23px 38px;        
    border-left: 1px solid  #FFF;  
}    
.header-menu-link {
    text-decoration: none;
    color: #FFFFFF;
}
.header-hover:hover {    
    color: red;
}
.border-right {
    border-right: 1px solid  #FFF;
}
.flex-container {
    display: flex;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
}
.aside-menu {    
    background: rgba(0, 0, 0, 0.0001);    
    border: 1px solid #000000;
    width: 344px;    
    height: 399px;
    margin-right: 52px;    
}
.aside-menu-list {    
    padding: 0;
    margin: 0;
}
.aside-menu-item {
    list-style: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;    
    padding: 26px 0  25px 44px;    
}
.aside-menu-item-link {
    text-decoration: none;
    color: #485863;    
}
.aside-hover {
    list-style: none;
    background: #DBDBDB;    
    width: 342px;
    height: 81px;    
    padding: 27px 0 27px 38px;
}
.aside-menu-hover-link {
    display: inline-block;
    width: 226px;
    height: 27px;
    text-align: center;  
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;    
    color: #35444F;   
} 
.aside-menu-hover-link:hover {
    color: red;
}
.section-content {
    flex-direction: column;
    width: 885px;    
}
.image-container {
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
}
.image {
    margin: 75px 268px 73px 297px;    
}
.image:hover {
    transform: scale(1.2);
}
.section-text {    
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}
.content-text {
    width: 885px;
    height: 120px;
    margin: 0;
}
.content-text-second {
    width: 885px;
    height: 109px;
    margin: 34px 0 0 0;    
}
.footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 69px;
}

.footer-nav {
    display: flex;    
    background: rgba(99, 105, 110, 0.48);    
    margin-bottom: 30px;
    margin-top: 54px;
}
.footer-menu-list {    
    display: flex;      
    width: 875px;
    height: 28px;
    justify-content: space-between;
    margin: 20px 135px 21px 40px;    
    padding-left: 0;
    list-style: none;
}
.footer-menu-link {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #0C1927;
}
.footer-hover:hover {
    color: red;
}
.footer-menu-blue {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: deepskyblue;    
    text-decoration: underline;
}
.footer-menu-kod {
    display: flex;
    width: 190px;
    height: 69px;
    justify-content: center;
    margin: 0 40px 0 0px;
}
.footer-kod {    
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;      
    align-items: center;    
}